{% extends 'variantsViz/base.html' %}

{% block content %}

<h2>Welcome {{ user.username }} !</h2>

<p> afficher liste jobs en cours</p>
<p> notifications/ màj de la bdd</p>
<p> dernierèes activités</p>
<p> modification mdp, mail ...</p>


<h2>Latest activities</h2>

<table data-toggle="table">
	  	<thead>
		    <td>Date</td>
		    <td>User </td>
		    <td>Object</td>
		    <td>Activity</td>
	  	</thead>
	  	<tr> 
	  		<td> July 9, 2020, 5:51 p.m</td>           
	       	<td> user1</td>	      	
	      	<td> Pathology</td>
	      	<td> Modified Alport syndrome (OMIM:120070)</td>
		</tr>
	  	<tr> 
	  		<td> July 8, 2020, 5:57 p.m</td>           
	       	<td> user2</td>	      	
	      	<td> Variant</td>
	      	<td> Added rs144521247 to database</td>
		</tr>
	  	<tr> 
	  		<td> July 8, 2020, 4:51 p.m</td>           
	       	<td> user1</td>	      	
	      	<td> Variant</td>
	      	<td> Modified rs124421369 from "Likely Pathogenic" to "Pathogenic"</td>
		</tr>
</table>





{% endblock %}

