{% extends 'variantsViz/base.html' %}

{% block content %}



<details class="details-table">
    <summary>Diseases</summary>

	<div class="content container">
		<table data-toggle="table">
		  	<thead>
			    <td>Name</td>
			    <td>Associated gene</td>
			    <td>Other information</td>
		  	</thead>
		  	<tbody>
			{% for d in patho %}
				<tr>            
			       	<td> {{ d.name }}</td>
			      	<td> <a href="https://omim.org/entry/{{d.associated_gene_OMIM}}">{{ d.associated_gene_OMIM }}</a></td>
			      	<td> {{d.infos}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

</details>

<details class="details-table">
    <summary>Variants</summary>
    <table data-toggle="table">
		  	<thead>
			    <td>rs_id</td>
			    <td>Gene </td>
			    <td>Localisation (exonic, intergene ...)</td>
			    <td>Associated pathologie</td>
			    <td>Details: Aa change, effects, allele frequency</td>
			    <td>Links: Clinvar/PubMed/OrphaData</td>
			    <td>Other information</td>
		  	</thead>
		</table>
</details>

<details class="details-table">
    <summary>Patients</summary>
    <table data-toggle="table">
		  	<thead>
			    <td>id</td>
			    <td>date </td>
			    <td>Pathologie</td>
			    <td>Variants</td>
			    <td>Other information</td>
		  	</thead>
		</table>
</details>
{% endblock %}