{% extends 'variantsViz/base.html' %}

{% block content %}
<a class="btn btn-info" href="/pathologies">Upload several pathologies from a csv file</a>
<a class="btn btn-info" href="/genes">Upload several genes from a csv file</a>

<details class="details-table">
    <summary>Diseases</summary>

	<div class="content container">
		<table class="table">
		  	<thead>
			    <td>Name</td>
			    <td>Associated gene</td>
			    <td>Other information</td>
		  	</thead>
		  	<tbody>
			{% for d in patho %}
				<tr>            
			       	<td> <a href="{% url 'displayPathology' d.id%}">{{ d.name }}</a></td>
			       	<td></td>
			      	<td> {{d.infos}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

</details>

<details class="details-table">
    <summary>Variants</summary>
    <table class="table">
		  	<thead>
			    <td>rs_id</td>
			    <td>Gene </td>
			    <td>Localisation (exonic, intergene ...)</td>
			    <td>Associated pathologie</td>
			    <td>Details: AA change, effects, allele frequency</td>
			    <td>Links: Clinvar/PubMed/OrphaData</td>
			    <td>Other information</td>
		  	</thead>
		</table>
</details>

<details class="details-table">
    <summary>Patients</summary>
    <table data-toggle="table">
		  	<thead>
			    <td>id</td>
			    <td>date </td>
			    <td>Pathologie</td>
			    <td>Variants</td>
			    <td>Other information</td>
		  	</thead>
		</table>
</details>



{% endblock %}