{% extends 'variantsViz/base.html' %}

{% block content %}

<h2> Initialisation </h2>
<h3> Here you can submit a job, by selecting fastq.gz files </h3>

<div class="upload fastq">
	<label class="import-fastq" for="largeFile">Upload fastq patient files</label>
	<input id="myfiles" type="file" accept=".fastq.gz">

	<label class="import-fastq" for="largeFile">Upload father fastq files</label>
	<input id="largeFile" name="largeFile" type="file"  accept=".fastq.gz">

	<label class="import-fastq" for="largeFile">Upload mother fastq files</label>
	<input id="largeFile" name="largeFile" type="file"  accept=".fastq.gz">

	<label>Job id</label>
	<input type="text" id="job_id" >
</div>

<div>
	<label for="diseasesList"> Name of the disease:</label>
	<input class="choice" list="diseasesList" id="disease-choice" name="disease-choice" placeholder="Select a disease" style="width:400;">

	<datalist id="diseasesList">
	{% for d in diseaseList %}
		<option > {{ d }} </option>
	{% endfor %}
	</datalist>
</div>

<p class="gm">
	<label>Genetic model of the disease:</label>
	<select name="genet_model">
		<option  selected="selected" value="0">Unknown</option>
		<option  value="1">Autosomal dominant</option>
		<option  value="2">Autosomal recessive</option>
		<option value="3">X</option>
	</select>
</p>

<label class = importantLabels>Supplementary parameters</label>
<div class="checkboxes">
<input type="checkbox" name="incidental finding">
<label for="incidental finding">Search also for incidental finding</label>
<input type="checkbox" name="whole exome">
<label for="whole exome">Search in whole exome</label>
</div>

<button type="button">Submit</button>



                  
{% endblock %}