{% extends 'variantsViz/base.html' %}

{% block content %}

<h2> Initialisation </h2>
<h3> Here you can submit a job, by selecting fastq.gz files </h3>

<label class="import-fastq" for="largeFile">Upload fastq files</label>
<input id="myfiles" multiple type="file" accept=".fastq.gz">


<label>Job id</label>
<input type="text" id="job_id" >

<datalist id="diseasesList">
	{% for d in diseaseList %}
		<option > {{ d }} </option>
	{% endfor %}
</datalist>

<form action="/your-name/" method="post">
    <label  for="diseasesList"> Name of the disease:</label>
    <input id="diseasesList" value="{{ diseases }}" class="choice" list="diseasesList" name="disease-choice" style="width:400;">
    <input type="submit" value="Submit">
</form>

<label>Suggested genes:</label>
	{% for c in diseases %}
		<input type="checkbox" name={{ c }} checked>
		<label for={{ c }}>{{ c }}</label>
	{% endfor %}
</input>

<p class="gm">
	<label>Genetic model of the disease:</label>
	<select name="genet_model">
		<option  selected="selected" value="0">Unknown</option>
		<option  value="1">Autosomal dominant</option>
		<option  value="2">Autosomal recessive</option>
		<option value="3">X</option>
	</select>
</p>

<button type="button">Launch job</button>

                  
{% endblock %}