{% extends 'variantsViz/base.html' %}

{% block content %}



<h2> Initialisation </h2>
<h3> Here you can submit a job, by selecting fastq.gz files </h3>


<label>Job id</label>
<input type="text" id="job_id" >

<div class="content">
	Upload fastq patient files
	<input id="myfiles" type="file" accept=".fastq.gz">

	<form>
		<label>Study familial segregation	</label>
		<input type="checkbox" name="famSegreg" value="Yes" ; onclick="display('famSegreg','nothing')">
		<div style='display:none' id='famSegreg'>
			Upload father fastq files
			<input id="largeFile" name="largeFile" type="file"  accept=".fastq.gz">
			Upload mother fastq files
			<input id="largeFile" name="largeFile" type="file"  accept=".fastq.gz">
		</div>
	</form>
</div>

<form>
	Search in whole exome	<input type="radio" name="whole exome ?" value="Yes" checked style="display:inline-block;" onclick="display('nothing','particularDisease')">
	Search only for primary findings of a particular disease	<input type="radio" name="whole exome ?" value="Yes" style="display:inline-block;"onclick="display('particularDisease', 'nothing')">	
	<div style='display:none' id='particularDisease'>
		<label for="diseasesList"> Name of the disease</label>
		<input class="choice" list="diseasesList" id="disease-choice" name="disease-choice" placeholder="Select a disease" style="width:400;">
		<datalist id="diseasesList">s
			{% for d in diseaseList %}
				<option > {{ d.name }} </option>
			{% endfor %}
		</datalist>
		<p class="gm">
		<label>Genetic model of the disease:</label>
	<select name="genet_model">
		<option  selected="selected" value="0">Unknown</option>
		<option  value="1">Autosomal dominant</option>
		<option  value="2">Autosomal recessive</option>
		<option value="3">X</option>
	</select>
</p>
</p>

	</div>
	<div style='display:none' id='nothing'></div>
</form>


<div style='display:none' id='nothing'></div>
<script type="text/javascript">
	function display(div1, div2) {
	    document.getElementById(div2).style.display = 'none'; // On cache le bloc portant l'id associé à la variable div1
	    document.getElementById(div1).style.display = 'block'; // On affiche le bloc portant l'id associé à la variable div2
	}
</script>




<button type="button">Submit</button>



                  
{% endblock %}