<html>
    <head>
        <title>Exome analysis for diagnosis of renal pathologies</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/variantsViz.css' %}">
    </head>

    <body>
         <div class="page-header">
	        <h1>Exome analysis for diagnosis of renal pathologies</h1>	    
			<div id="navbar" class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
					<li><a href="/initialisation">Pipeline initialisation</li>
					<li><a href="/running">Running pipelines</li>	
					<li><a href="/analysis">Variants analysis</li>	
					<li><a href="/database">Database</li>
					<li><a href="/account">My account</li>					
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Log out</li>
                </ul>
			</div>	
		</div>
	    <div class="content container">
            {% block content %}
            {% endblock %}
	    </div>
    </body>
</html>