{% load static %}
<html>
    <head>
        <title>Exome analysis for diagnosis of renal pathologies</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/variantsViz.css' %}">
    </head>
    <body>    	
        <div class="page-header">
	        <h1>Exome analysis for diagnosis of renal pathologies</h1> 
		</div>
		<h2>Pipeline initialisation</h2>
		<h2>Running pipelines</h2>
		<h2>Variants analysis</h2>
		<h2>Databases</h2>
		<h2><a href="admin/login/?next=/account/">Connexion</h2>	
    </body>
</html>