.content {
    margin-left: 30px;
    margin-top: 15px;
    padding: 10px 10px 10px;
}

.date {
    color: #828282;
    font-size: 10pt;
    margin-top: 15px;
}

.page-header {
    background-color: #6782c9;
    color: #ffffff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1 {
    color: #ffffff;
    font-size: 30pt;
}

h2{
    font-size: 25pt;
    color: #6782c9;
    margin-left: 20px;
}

h3{
    font-size: 12pt;
    margin-top: 15px;
}

/*external link*/
a{
    color: #67a5c9;
    text-decoration: underline;
}



/*Critères ACMG*/
.critere_manuel{
    color:red;
}

/*Texte caché*/


h5{
  background-color: #7CD1C0;
}

/*Tableaux*/

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  width: 100%;
  font-size: 10pt;
}


td, thead {
  border: 1px solid #ddd;
  padding: 5px;
}


tr:hover {background-color: #ddd;}

thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6782c9;
  color: white;
}

/**********************/

label{
	padding: 10px 10px 10px;  
  margin-top: 15px;
}

button{
	margin-top: 10px;
}

.details-table{
    width: 1500px;
    margin-top: 30px;
}

/*Navigation bar*/

nav ul{
	padding: 0px;
	margin: 0px;
	list-style-type:none;
}

nav li{
	display:inline-block;
	width: 200px;
	height: 50px;
	padding: 10px;	
}

nav li :hover{
	background-color: #c2cde9;
}

nav li a{
	display:block;
	text-decoration: none;
	color: #FFFFFF;
}



/*Details*/
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

summary:after {
   content: "\0025BE";
   color: #6782c9;
   float: left;
   font-size: 1.5em;
   font-weight: bold;
   margin: -5px 5px 0 0;
   padding: 0;
   text-align: left;
   width: 20px;
}

details[open] summary:after {
   content: "-";
}


